html {
  font-size: 10px;
}

ul, p, h1, h2, h3, h4, h5, h6, body, div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  max-width: 100%;
}

button {
  cursor: pointer;
}

input {
  outline: none;
}

.main-cont {
  background: url(../../../assets/images/hero__background.png) no-repeat center;
  background-size: cover;
}

.header {
  width: 100%;
  z-index: 2;
}

.header__row {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  width: 116px;
  object-fit: contain;
}

.header__nav {
  display: flex;
  align-content: center;
}

.header__nav .nav-list {
  display: flex;
  align-items: center;
}

.header__nav .nav-list .list-item {
  margin-right: 3rem;
}

.header__nav .nav-list .list-item a {
  font-family: "Gilroy", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
  color: #182d42;
}

.header__btn-wrapper {
  display: flex;
  align-items: center;
}

.header__btn-wrapper button {
  background: rgba(24, 45, 66, 0.1);
  border: 1px solid #182d42;
  padding: 1.4rem 3.2rem;
}

.hero {
  z-index: 1;
  min-height: 100vh;
}

.hero__title {
  padding-top: 28vh;
  font-family: "Futura PT", sans-serif;
  font-size: 9.6rem;
  font-weight: 700;
  line-height: 12.3rem;
  color: #182d42;
}

.location {
  margin: 10rem 0;
}

.location__title {
  font-family: "Futura PT", sans-serif;
  font-size: 4.4rem;
  font-weight: 600;
  line-height: 6.2rem;
  color: #182d42;
  margin-bottom: 3rem;
}

.location__description {
  font-family: "Gilroy", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
  color: #4B4B4B;
  max-width: 40rem;
}

.location__right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  background: #cae9f9;
  padding: 6.8rem 0;
}

.form__row {
  display: flex;
  flex-direction: column;
}

.form__title {
  font-family: "Futura PT", sans-serif;
  font-size: 4.4rem;
  font-weight: 600;
  line-height: 6.2rem;
  color: #182d42;
}

.form__description {
  font-family: "Gilroy", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.4rem;
  color: #4b4b4b;
  margin: 3rem 0 5rem 0;
}

.form__input {
  border: none;
  border-bottom: 1px solid #4b4b4b;
  background: #cae9f9;
  padding: 1.3rem 16rem 1.4rem 2rem;
  margin-right: 4rem;
  font-family: "Gilroy", sans-serif;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.9rem;
  color: #4b4b4b;
}

.form__btn {
  font-family: "Gilroy", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.9rem;
  color: #fff;
  background: #182d42;
  padding: 1.4rem 3.7rem;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.footer__logo {
  display: flex;
  justify-content: center;
}

.footer__nav {
  display: flex;
  justify-content: center;
  margin-bottom: 6.5rem;
}

.footer__nav .nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__nav .nav-list .list-item {
  margin-right: 3rem;
}

.footer__nav .nav-list .list-item a {
  font-family: "Gilroy", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.9rem;
  color: #182d42;
}

.footer__nav .nav-list:last-child {
  margin-right: 0;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.footer__bottom img {
  cursor: pointer;
}

.footer__bottom::after {
  content: "";
  position: absolute;
  background: #182d42;
  opacity: 0.2;
  height: 0.14rem;
  width: 83vw;
  top: -1rem;
  left: 0;
}
/*# sourceMappingURL=index.css.map */