html {
  font-size: 6px;
}

@media (min-width: 576) {
  html {
    font-size: 8px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 10px;
  }
}

ul,
p,
h1,
h2,
h3,
h4,
h5,
h6,
body,
div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  max-width: 100%;
}

button {
  cursor: pointer;
}

input {
  outline: none;
}

.row {
  flex-wrap: wrap;
}

.main-cont {
  background: url(../../../assets/images/hero__background.png) no-repeat center;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}

.header {
  width: 100%;
  z-index: 2;
}

.header__nav {
  height: 7.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__nav .nav-list {
  list-style: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  height: 100vh;
  background-color: #cae9f9;
  padding: 4.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 1250;
  transform: translateX(-100%);
  transition: transform 0.5s;
}

.header__nav .nav-list a {
  font-family: "Gilroy", sans-serif;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.9rem;
  color: #182d42;
}

.header__nav::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.5s;
}

.header .menu-toggle {
  position: fixed;
  color: #182d42;
  font-size: 3rem;
  top: 5rem;
  transform: translateY(-50%);
  right: 2.5rem;
  cursor: pointer;
  z-index: 1500;
}

.header .fa-times {
  display: none;
}

.header .open {
  transform: translateX(0);
}

.header .open .fa-times {
  display: block;
}

.header .open .fa-bars {
  display: none;
}

.header .open .nav::before {
  opacity: 0;
  transform: scale(1);
}

.header .fa-times {
  display: none;
}

.header__row {
  display: flex;
  flex-wrap: wrap;
}

.header__logo {
  width: 116px;
  object-fit: contain;
}

.header__btn-wrapper {
  display: flex;
  align-items: center;
}

.header__btn-wrapper button {
  background: rgba(24, 45, 66, 0.1);
  border: 1px solid #182d42;
  padding: 1.4rem 3.2rem;
}

@media (min-width: 960px) {
  .header .menu-toggle {
    display: none;
  }
  .header__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .header__nav {
    display: flex;
    align-content: center;
  }
  .header__nav .nav-list .list-item {
    margin-right: 3rem;
  }
  .header__nav .nav-list .list-item a {
    font-family: "Gilroy", sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: #182d42;
  }
  .header .nav-list {
    position: initial;
    width: initial;
    height: initial;
    background-color: transparent;
    padding: 0;
    justify-content: initial;
    flex-direction: row;
    transform: initial;
    transition: initial;
  }
}

.hero {
  z-index: 1;
}

.hero__content {
  padding-top: 13vh;
}

.hero__title {
  max-width: 65%;
  font-family: "Futura PT", sans-serif;
  font-size: 7.6rem;
  font-weight: 700;
  line-height: 12.3rem;
  color: #182d42;
}

@media (min-width: 768px) {
  .hero__title {
    max-width: 65%;
    font-family: "Futura PT", sans-serif;
    font-size: 4.6rem;
    font-weight: 700;
    line-height: 5.3rem;
    color: #182d42;
  }
}

@media (min-width: 960px) {
  .hero__title {
    max-width: 65%;
    font-family: "Futura PT", sans-serif;
    font-size: 6.6rem;
    font-weight: 700;
    line-height: 10.3rem;
    color: #182d42;
  }
}

.data {
  padding: 8rem 0;
}

.data__row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.data__row img {
  margin-bottom: 2rem;
}

.data .right-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 6rem;
}

.data__title {
  font-family: "Futura PT", sans-serif;
  font-size: 4rem;
  font-weight: 600;
  line-height: 6rem;
  color: #182d42;
}

.data__items {
  display: flex;
}

.data__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 8rem;
}

.data__item p {
  font-family: "Futura PT", sans-serif;
  font-size: 3rem;
  font-weight: 600;
  line-height: 4rem;
  color: #c71616;
}

.data__item span {
  font-family: "Gilroy", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
  color: #4b4b4b;
}

.data__items li:nth-child(2) {
  position: relative;
}

.data__items li:nth-child(2)::before {
  content: '';
  position: absolute;
  top: 0;
  right: -4rem;
  height: 6rem;
  width: 1px;
  background: #182D42;
}

.data__items li:nth-child(2)::after {
  content: '';
  position: absolute;
  top: 0;
  left: -4rem;
  height: 6rem;
  width: 1px;
  background: #182D42;
}

@media (min-width: 960px) {
  .data__row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .data__row img {
    margin-bottom: 0;
  }
}

.build-steps__steps {
  grid-gap: 6rem;
}

.build-steps__title {
  text-align: center;
  font-family: "Futura PT", sans-serif;
  font-size: 6.4rem;
  font-weight: 600;
  line-height: 8.2rem;
  color: #182d42;
}

.build-steps__indicator {
  width: 100%;
  display: flex;
  align-items: center;
  grid-column-gap: 24px;
}

.build-steps__indicator__circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #cae9f9;
}

.build-steps__indicator__circle.active {
  background: #c71616;
}

.build-steps__indicator__border {
  width: calc(100% - 48px);
  border-bottom: 2px dashed #182d424b;
}

.build-steps__desc h3 {
  font-family: "Futura PT", sans-serif;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 3rem;
  color: #182d42;
}

.build-steps__desc p {
  font-family: "Futura PT", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.6rem;
  color: #4b4b4b;
}

.apartment-select__main-title {
  font-family: "Futura PT", sans-serif;
  font-size: 6.4rem;
  font-weight: 600;
  line-height: 8.2rem;
  color: #182d42;
}

.apartment-select__subtitle {
  font-family: "Futura PT", sans-serif;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 3.1rem;
  color: #182d42;
}

.apartment-select__rooms-areas, .apartment-select__rooms-amounts {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  grid-gap: 1rem;
}

.apartment-select__btn {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #ADADAD;
  font-family: "Futura PT", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.9rem;
  color: #182d42;
  padding: 0;
}

.apartment-select__amount {
  width: 19rem;
  height: 4.8rem;
}

.apartment-select__area {
  width: 12.3rem;
  height: 4.8rem;
}

.apartment-select__active-btn {
  background: #182D42;
  border: 1px solid #182D42;
  font-family: "Futura PT", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.9rem;
  color: #fff;
}

.apartment-select__selected-image {
  min-height: 47rem;
  object-fit: contain;
}

.slider {
  background: #cae9f9;
  padding: 8rem 0;
}

.slider__title {
  font-family: "Futura PT", sans-serif;
  font-size: 4.4rem;
  font-weight: 600;
  line-height: 6.2rem;
  color: #182d42;
  margin-bottom: 5rem;
}

.slider .swiper-container {
  max-width: 90rem;
  max-height: 45rem;
  margin: 0 4rem;
}

.slider .container {
  position: relative;
}

.slider .swiper-prev {
  left: 0;
  top: 50%;
  position: absolute;
  width: 4rem;
  background: #fff;
  border-radius: 50%;
  padding: 1rem;
}

.slider .swiper-next {
  top: 50%;
  right: 0;
  position: absolute;
  width: 4rem;
  background: #fff;
  border-radius: 50%;
  padding: 1rem;
}

@media (min-width: 960px) {
  .slider__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.location {
  text-align: center;
  margin: 10rem 0;
}

.location__row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.location__title {
  font-family: "Futura PT", sans-serif;
  font-size: 4.4rem;
  font-weight: 600;
  line-height: 6.2rem;
  color: #182d42;
  margin-bottom: 3rem;
}

.location__description {
  font-family: "Gilroy", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
  color: #4b4b4b;
  max-width: 40rem;
  margin-bottom: 2rem;
}

.location__right {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 960px) {
  .location {
    text-align: left;
  }
  .location__row {
    display: flex;
    flex-direction: row;
  }
  .location__description {
    margin-bottom: 0;
  }
}

.form {
  background: #cae9f9;
  padding: 6.8rem 0;
  text-align: center;
}

.form__row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__title {
  font-family: "Futura PT", sans-serif;
  font-size: 4.4rem;
  font-weight: 600;
  line-height: 6.2rem;
  color: #182d42;
}

.form__description {
  font-family: "Gilroy", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.4rem;
  color: #4b4b4b;
  margin: 3rem 0 5rem 0;
}

.form__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__input {
  border: none;
  border-bottom: 1px solid #4b4b4b;
  background: #cae9f9;
  padding: 1.3rem 16rem 1.4rem 2rem;
  margin-right: 4rem;
  font-family: "Gilroy", sans-serif;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.9rem;
  color: #4b4b4b;
}

.form__btn {
  font-family: "Gilroy", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.9rem;
  color: #fff;
  background: #182d42;
  padding: 1.4rem 3.7rem;
  margin: .5rem;
  border: #182d42;
  max-width: 25rem;
}

@media (min-width: 960px) {
  .form {
    text-align: left;
  }
  .form__row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .form__title {
    max-width: 60%;
  }
  .form__description {
    max-width: 30%;
  }
  .form__form {
    display: flex;
    flex-direction: row;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.footer__logo {
  display: flex;
  justify-content: center;
}

.footer__logo img {
  max-width: 15rem;
}

.footer__nav {
  display: flex;
  justify-content: center;
  margin-bottom: 6.5rem;
}

.footer__nav .nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__nav .nav-list .list-item {
  margin-right: 3rem;
}

.footer__nav .nav-list .list-item a {
  font-family: "Gilroy", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.9rem;
  color: #182d42;
}

.footer__nav .nav-list:last-child {
  margin-right: 0;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 2rem;
}

.footer__bottom img {
  cursor: pointer;
}

.footer__bottom::after {
  content: "";
  position: absolute;
  background: #182d42;
  opacity: 0.2;
  height: 0.14rem;
  width: 83vw;
  top: -1rem;
  left: 0;
}
/*# sourceMappingURL=index.css.map */