@charset "UTF-8";
@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-Regular.eot");
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url("Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("Gilroy-Regular.woff2") format("woff2"), url("Gilroy-Regular.woff") format("woff"), url("Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-ExtraboldItalic.eot");
  src: local("Gilroy Extrabold Italic"), local("Gilroy-ExtraboldItalic"), url("Gilroy-ExtraboldItalic.eot?#iefix") format("embedded-opentype"), url("Gilroy-ExtraboldItalic.woff2") format("woff2"), url("Gilroy-ExtraboldItalic.woff") format("woff"), url("Gilroy-ExtraboldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-Bold.eot");
  src: local("Gilroy Bold"), local("Gilroy-Bold"), url("Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("Gilroy-Bold.woff2") format("woff2"), url("Gilroy-Bold.woff") format("woff"), url("Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-Black.eot");
  src: local("Gilroy Black"), local("Gilroy-Black"), url("Gilroy-Black.eot?#iefix") format("embedded-opentype"), url("Gilroy-Black.woff2") format("woff2"), url("Gilroy-Black.woff") format("woff"), url("Gilroy-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-Light.eot");
  src: local("Gilroy Light"), local("Gilroy-Light"), url("Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("Gilroy-Light.woff2") format("woff2"), url("Gilroy-Light.woff") format("woff"), url("Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-Semibold.eot");
  src: local("Gilroy Semibold"), local("Gilroy-Semibold"), url("Gilroy-Semibold.eot?#iefix") format("embedded-opentype"), url("Gilroy-Semibold.woff2") format("woff2"), url("Gilroy-Semibold.woff") format("woff"), url("Gilroy-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-Medium.eot");
  src: local("Gilroy Medium"), local("Gilroy-Medium"), url("Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("Gilroy-Medium.woff2") format("woff2"), url("Gilroy-Medium.woff") format("woff"), url("Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-MediumItalic.eot");
  src: local("Gilroy Medium Italic"), local("Gilroy-MediumItalic"), url("Gilroy-MediumItalic.eot?#iefix") format("embedded-opentype"), url("Gilroy-MediumItalic.woff2") format("woff2"), url("Gilroy-MediumItalic.woff") format("woff"), url("Gilroy-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-BlackItalic.eot");
  src: local("Gilroy Black Italic"), local("Gilroy-BlackItalic"), url("Gilroy-BlackItalic.eot?#iefix") format("embedded-opentype"), url("Gilroy-BlackItalic.woff2") format("woff2"), url("Gilroy-BlackItalic.woff") format("woff"), url("Gilroy-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-UltraLight.eot");
  src: local("Gilroy UltraLight"), local("Gilroy-UltraLight"), url("Gilroy-UltraLight.eot?#iefix") format("embedded-opentype"), url("Gilroy-UltraLight.woff2") format("woff2"), url("Gilroy-UltraLight.woff") format("woff"), url("Gilroy-UltraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-RegularItalic.eot");
  src: local("Gilroy Regular Italic"), local("Gilroy-RegularItalic"), url("Gilroy-RegularItalic.eot?#iefix") format("embedded-opentype"), url("Gilroy-RegularItalic.woff2") format("woff2"), url("Gilroy-RegularItalic.woff") format("woff"), url("Gilroy-RegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-SemiboldItalic.eot");
  src: local("Gilroy Semibold Italic"), local("Gilroy-SemiboldItalic"), url("Gilroy-SemiboldItalic.eot?#iefix") format("embedded-opentype"), url("Gilroy-SemiboldItalic.woff2") format("woff2"), url("Gilroy-SemiboldItalic.woff") format("woff"), url("Gilroy-SemiboldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-HeavyItalic.eot");
  src: local("Gilroy Heavy Italic"), local("Gilroy-HeavyItalic"), url("Gilroy-HeavyItalic.eot?#iefix") format("embedded-opentype"), url("Gilroy-HeavyItalic.woff2") format("woff2"), url("Gilroy-HeavyItalic.woff") format("woff"), url("Gilroy-HeavyItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-Extrabold.eot");
  src: local("Gilroy Extrabold"), local("Gilroy-Extrabold"), url("Gilroy-Extrabold.eot?#iefix") format("embedded-opentype"), url("Gilroy-Extrabold.woff2") format("woff2"), url("Gilroy-Extrabold.woff") format("woff"), url("Gilroy-Extrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-BoldItalic.eot");
  src: local("Gilroy Bold Italic"), local("Gilroy-BoldItalic"), url("Gilroy-BoldItalic.eot?#iefix") format("embedded-opentype"), url("Gilroy-BoldItalic.woff2") format("woff2"), url("Gilroy-BoldItalic.woff") format("woff"), url("Gilroy-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-UltraLightItalic.eot");
  src: local("Gilroy UltraLight Italic"), local("Gilroy-UltraLightItalic"), url("Gilroy-UltraLightItalic.eot?#iefix") format("embedded-opentype"), url("Gilroy-UltraLightItalic.woff2") format("woff2"), url("Gilroy-UltraLightItalic.woff") format("woff"), url("Gilroy-UltraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-LightItalic.eot");
  src: local("Gilroy Light Italic"), local("Gilroy-LightItalic"), url("Gilroy-LightItalic.eot?#iefix") format("embedded-opentype"), url("Gilroy-LightItalic.woff2") format("woff2"), url("Gilroy-LightItalic.woff") format("woff"), url("Gilroy-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-Heavy.eot");
  src: local("Gilroy Heavy"), local("Gilroy-Heavy"), url("Gilroy-Heavy.eot?#iefix") format("embedded-opentype"), url("Gilroy-Heavy.woff2") format("woff2"), url("Gilroy-Heavy.woff") format("woff"), url("Gilroy-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-Thin.eot");
  src: local("Gilroy Thin"), local("Gilroy-Thin"), url("Gilroy-Thin.eot?#iefix") format("embedded-opentype"), url("Gilroy-Thin.woff2") format("woff2"), url("Gilroy-Thin.woff") format("woff"), url("Gilroy-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-ThinItalic.eot");
  src: local("Gilroy Thin Italic"), local("Gilroy-ThinItalic"), url("Gilroy-ThinItalic.eot?#iefix") format("embedded-opentype"), url("Gilroy-ThinItalic.woff2") format("woff2"), url("Gilroy-ThinItalic.woff") format("woff"), url("Gilroy-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

html {
  font-size: 6px;
}

@media (min-width: 576) {
  html {
    font-size: 8px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 10px;
  }
}

body {
  background: #1e1e1e;
}

ul,
p,
h1,
h2,
h3,
h4,
h5,
h6,
body,
div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  scroll-behavior: smooth;
  font-family: "Gilroy", sans-serif;
}

li {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

button {
  cursor: pointer;
}

input {
  outline: none;
}

.row {
  flex-wrap: wrap;
}

.full-height {
  height: 100%;
}

.main-cont {
  background: url("../../../assets/images/hero__background.png") no-repeat center;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}

.header {
  width: 100%;
  z-index: 2;
}

.header__nav {
  height: 7.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__nav .nav-list {
  list-style: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: #1e1e1e;
  padding: 4.4rem;
  display: flex;
  grid-row-gap: 2rem;
  flex-direction: column;
  z-index: 1250;
  transform: translateX(-100%);
  transition: transform 0.5s;
}

.header__nav .nav-list a {
  font-family: "Gilroy", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
  color: #ffffff;
}

.header__nav .nav-list a:hover {
  color: #d9a85d;
}

@media (max-width: 756px) {
  .header__nav .nav-list a {
    font-size: 3rem;
    line-height: 3rem;
  }
}

.header__nav .nav-list .nav-list-logo {
  display: none;
}

.header__nav .nav-list .nav-list-logo img {
  width: 100%;
  object-fit: contain;
}

.header__nav::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.5s;
}

.header__logo {
  margin-right: 1rem;
}

.header .menu-toggle {
  color: #d9a85d;
  font-size: 3rem;
  cursor: pointer;
  z-index: 1500;
  margin: 0 0 0 2rem;
}

.header .fa-times {
  display: none;
}

.header .open {
  transform: translateX(0);
  justify-content: start;
}

@media only screen and (min-width: 960px) {
  .header .open {
    display: none;
  }
}

.header .open .fa-times {
  display: block;
}

.header .open .fa-bars {
  display: none;
}

.header .open .nav::before {
  opacity: 0;
  transform: scale(1);
}

.header .fa-times {
  display: none;
}

.header__row {
  display: flex;
  align-items: center;
}

.header__row__address, .header__row__contacts {
  font-size: 1.6rem;
  color: #fff;
}

.header__row__address a:hover, .header__row__contacts a:hover {
  color: #d9a85d;
}

.header__logo {
  width: 14.6rem;
  object-fit: contain;
}

.header__btn-wrapper {
  display: flex;
  align-items: center;
}

.header__btn-wrapper__about-contact {
  color: #fff;
}

.header__btn-wrapper__about-contact img {
  width: 1.5rem;
  height: 2.4rem;
}

.header__btn-wrapper__about-contact a:hover {
  color: #d9a85d;
}

.header__btn-wrapper button {
  width: 19rem;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #ffffff;
  font-size: 1.6rem;
  color: #fff;
  padding: 0.7rem 0;
}

@media (min-width: 960px) {
  .header .menu-toggle {
    display: none;
  }
  .header__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header__nav {
    display: flex;
    align-content: center;
  }
  .header__nav .nav-list .list-item {
    cursor: pointer;
    margin-right: 2.3rem;
  }
  .header .nav-list {
    position: initial;
    width: initial;
    height: initial;
    background-color: transparent;
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;
    grid-row-gap: 1rem;
    flex-direction: row;
    transform: initial;
    transition: initial;
  }
}

.hero {
  z-index: 1;
}

.hero__content {
  padding-top: 13vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__content__about__logo {
  width: 26.6rem;
  height: 27.5rem;
}

.hero__content__presetation_link {
  width: 24.8rem;
  height: 4.7rem;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.9rem;
  background: #D5A957;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.hero__content__presetation_link:hover {
  color: #fff;
}

.hero__medina-logo {
  margin-top: 4rem;
}

.hero__title {
  max-width: 75%;
  font-family: "Gilroy", sans-serif;
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 6.3rem;
  color: #ffffff;
}

@media (min-width: 768px) {
  .hero__title {
    max-width: 70%;
    font-family: "Gilroy", sans-serif;
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 7.3rem;
    color: #ffffff;
  }
}

@media (min-width: 960px) {
  .hero__title {
    max-width: 65%;
    font-family: "Gilroy", sans-serif;
    font-size: 7.6rem;
    font-weight: 700;
    line-height: 12.3rem;
    color: #ffffff;
  }
  .hero__content {
    flex-direction: row;
    justify-content: space-between;
  }
}

.data__row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.data__left {
  padding: 0;
}

.data__left img {
  margin-bottom: 2rem;
  max-width: 90%;
}

.data .right-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.data__right {
  width: 75%;
  display: flex;
  justify-content: center;
}

.data__title {
  font-family: "Gilroy", sans-serif;
  font-size: 4rem;
  font-weight: 700;
  line-height: 6rem;
  color: #d9a85d;
  margin-bottom: 3.5rem;
}

.data__items {
  display: flex;
}

.data__item {
  display: flex;
  flex-direction: column;
  margin-right: 8rem;
}

.data__item p {
  font-family: "Gilroy", sans-serif;
  font-size: 3rem;
  font-weight: 600;
  line-height: 4rem;
  color: #d9a85d;
}

.data__item span {
  font-family: "Gilroy", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
  color: #fff;
}

.data__items li:nth-child(2) {
  position: relative;
}

.data__items li:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 0;
  right: -4rem;
  height: 6rem;
  width: 0.1rem;
  background: #fff;
}

.data__items li:nth-child(2)::after {
  content: "";
  position: absolute;
  top: 0;
  left: -4rem;
  height: 6rem;
  width: 0.1rem;
  background: #fff;
}

@media (min-width: 960px) {
  .data__row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .data__row img {
    margin-bottom: 0;
  }
  .data__right {
    width: 50%;
  }
}

.build-steps {
  padding: 7rem 0 !important;
}

.build-steps__steps {
  justify-content: center;
  grid-gap: 4rem;
}

.build-steps__title {
  text-align: center;
  font-family: "Gilroy", sans-serif;
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 7.2rem;
  color: #d9a85d;
}

.build-steps__step {
  width: 30rem;
}

.build-steps__indicator {
  width: 100%;
  display: flex;
  align-items: center;
  grid-column-gap: 2.4rem;
}

.build-steps__indicator__circle {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  background: #959595;
}

.build-steps__indicator__circle.active {
  background: #d9a85d;
}

.build-steps__indicator__border {
  width: calc(100% - 4.8rem);
  border-bottom: 0.2rem dashed #959595;
  width: 24rem;
}

.build-steps__desc h3 {
  font-family: "Gilroy", sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3rem;
  color: #959595;
}

.build-steps__desc p {
  font-family: "Gilroy", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.3rem;
  color: #959595;
}

.apartment-select__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media only screen and (max-width: 960px) {
  .apartment-select__wrapper {
    grid-template: 1fr 1fr / 1fr;
  }
}

.apartment-select__main-title {
  font-family: "Gilroy", sans-serif;
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 8.2rem;
  color: #d9a85d;
}

.apartment-select__subtitles {
  font-family: "Gilroy", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  line-height: 3.1rem;
  color: #fff;
}

.apartment-select__rooms-areas, .apartment-select__rooms-amounts {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.apartment-select__btn {
  background: rgba(255, 255, 255, 0.1);
  border: 0.1rem solid #adadad;
  font-family: "Gilroy", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.9rem;
  color: #fff;
  padding: 0;
}

.apartment-select__amount {
  width: 19rem;
  height: 4.8rem;
}

.apartment-select__area {
  width: 12.3rem;
  height: 4.8rem;
}

.apartment-select__active-btn {
  background: #d9a85d;
  border: 0.1rem solid #d9a85d;
  font-family: "Gilroy", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.9rem;
  color: #fff;
}

.apartment-select__selected-image {
  align-self: center;
  width: 100%;
  object-fit: contain;
  cursor: pointer;
}

.apartment-select #apartment-select__modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.421);
  align-items: center;
  justify-content: center;
  display: none;
  z-index: 12;
  padding: 10rem 5rem;
}

.apartment-select #apartment-select__modal img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.apartment-select #apartment-select__modal.open {
  display: flex;
}

.spinner-grow {
  display: none;
}

.video {
  background: url("../../../assets/images/bg-videoSect.png") center no-repeat;
  background-size: cover;
  padding: 6rem 0 11rem 0;
  text-align: center;
}

.video .container {
  display: flex;
  justify-content: center;
  position: relative;
}

.video__title {
  font-family: "Gilroy", sans-serif;
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 7.2rem;
  color: #d9a85d;
  max-width: 50%;
  margin: 0 auto 2rem auto;
}

.video__description {
  font-family: "Gilroy", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #fff;
  margin-bottom: 4rem;
}

.video__four {
  position: absolute;
  right: 17rem;
  top: 7.2rem;
  width: 4.9rem;
  height: 2.5rem;
}

.video__inner {
  position: relative;
}

.video .play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.video-player {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.video video:focus {
  outline: none;
}

.video__img {
  position: relative;
}

.video__img img:first-child {
  width: 72rem;
}

.video .close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 4rem;
  cursor: pointer;
}

.slider {
  padding: 8rem 0;
  background: url("../../../assets/images/bg-data-slider.png") center no-repeat;
  background-size: cover;
}

.slider__title {
  font-family: "Gilroy", sans-serif;
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 6.2rem;
  color: #fff;
  margin-bottom: 5rem;
}

.slider .swiper-container {
  max-height: 45rem;
  margin: 0 4rem;
}

.slider .container {
  position: relative;
}

.slider .swiper-prev {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  left: -2rem;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  background: #fff;
  border-radius: 50%;
  padding: 1rem;
}

.slider .swiper-next {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  transform: translateY(-50%);
  right: -2rem;
  position: absolute;
  background: #fff;
  border-radius: 50%;
  padding: 1rem;
}

.slider__wrapper {
  position: relative;
}

.slider .swiper-slide {
  width: 100% !important;
  display: flex;
  justify-content: center;
}

@media (min-width: 960px) {
  .slider__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.advantage {
  padding: 7rem 0;
}

.advantage__title {
  font-family: "Gilroy", sans-serif;
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 5.2rem;
  color: #D9A85D;
  margin-bottom: 7rem;
}

.advantage__row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.advantage .item__title {
  font-family: "Gilroy", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  line-height: 3rem;
  color: #fff;
  margin-top: 2rem;
}

.advantage .item__description {
  font-family: "Gilroy", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.1rem;
  color: #fff;
}

@media (max-width: 600px) {
  .advantage__item {
    width: 50%;
  }
}

.history {
  padding: 7rem 0 9rem 0;
}

.history .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background-color: #d9a85d;
  width: 100%;
}

.history .swiper-pagination-progressbar {
  width: 100%;
  height: 0.2rem;
  margin-top: 4.5rem;
}

.history .swiper-wrapper {
  margin-top: 2rem;
  display: flex;
}

.history .swiper-wrapper p {
  margin-bottom: 0.5rem;
}

.history .swiper-slide {
  font-family: "Gilroy", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2rem;
  color: #fff;
  height: 100%;
}

.history .mySwiper2 .swiper-img {
  height: 37rem;
}

.history .mySwiper2 .swiper-img img {
  object-fit: cover;
}

.history__row {
  display: flex;
  justify-content: space-around;
}

.history__title {
  font-family: "Gilroy", sans-serif;
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 6rem;
  color: #d9a85d;
  margin-bottom: 6rem;
  margin-left: 2rem;
}

.history .right-wrapper h3 {
  margin-top: -2rem;
  margin-bottom: 2rem;
  font-family: "Gilroy", sans-serif;
  font-size: 3rem;
  font-weight: 600;
  line-height: 4rem;
  color: #fff;
}

.history__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.history__btns {
  display: flex;
}

.history__btns div {
  margin-right: 1rem;
}

@media (max-width: 960px) {
  .history {
    text-align: center;
  }
  .history__row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .history__btns {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
}

.data-slider {
  padding: 10rem 0;
}

.data-slider__title {
  font-family: "Gilroy", sans-serif;
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 8rem;
  color: #d9a85d;
  margin-bottom: 2rem;
}

.data-slider__description {
  font-family: "Gilroy", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
  color: #fff;
}

.data-slider ::-webkit-scrollbar {
  width: 3.1rem;
  /* ширина для вертикального скролла */
  height: 0.4rem;
  /* высота для горизонтального скролла */
  background-color: #c4c4c4;
  scrollbar-width: 30rem;
}

.data-slider ::-webkit-scrollbar-thumb {
  background-color: #d9a85d;
  border-radius: 9em;
  height: 1rem;
}

.data-slider__left {
  display: flex;
  justify-content: center;
}

.data-slider__left div {
  margin-left: 15rem;
}

.data-slider__text {
  margin-right: 13rem;
}

.data-slider__right {
  position: relative;
}

.data-slider .arrow {
  position: absolute;
  bottom: 2rem;
  left: 0;
  animation: left 1s infinite;
}

.data-slider__list {
  position: relative;
  overflow-x: auto;
  width: auto;
  max-height: 64rem;
  white-space: nowrap;
}

.data-slider__list .list-item {
  display: inline-block;
  margin-right: 2rem;
}

.data-slider__list .list-item__description {
  font-family: "Gilroy", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 3rem;
  color: #fff;
  margin: 2.5rem 0 7rem 0;
}

.data-slider__item {
  overflow: hidden;
  max-width: 33rem;
  height: 50rem;
  overflow-x: auto;
  background: url("../../../assets/images/data-slider1.png") center no-repeat;
  cursor: pointer;
}

.data-slider__item p {
  height: 100%;
  white-space: normal;
  opacity: 0;
  transition: 0.4s;
  padding: 1rem;
  font-family: "Gilroy", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2rem;
  color: #fff;
}

.data-slider__item:hover p {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.data-slider__list li:nth-child(1) div {
  background: url("../../../assets/images/location-img.png") center no-repeat;
  background-size: cover;
}

.data-slider__list li:nth-child(2) div {
  background: url("../../../assets/images/data-slider2.png") center no-repeat;
  background-size: cover;
}

.data-slider__list li:nth-child(3) div {
  background: url("../../../assets/images/data-slider3.png") center no-repeat;
  background-size: cover;
}

.data-slider__list li:nth-child(5) div {
  background: url("../../../assets/images/data-slider5.png") center no-repeat;
  background-size: cover;
}

.data-slider__list li:nth-child(6) div {
  background: url("../../../assets/images/data-slider6.png") center no-repeat;
  background-size: cover;
}

@keyframes left {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(5rem);
  }
}

@media (max-width: 960px) {
  .data-slider {
    text-align: center;
  }
  .data-slider__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .data-slider__left div {
    margin-left: 0rem;
  }
  .data-slider__description {
    margin: 1rem 0;
  }
  .data-slider__text {
    margin-right: 0;
  }
}

.location {
  margin: 10rem 0 !important;
}

.location__row {
  display: grid;
  grid-template: 421.3px / 1fr 1fr;
  grid-gap: 5rem;
}

@media only screen and (max-width: 960px) {
  .location__row {
    grid-template: auto 300px / 1fr;
  }
}

.location__row iframe {
  width: 100%;
  height: 100%;
}

.location__title {
  font-family: "Gilroy", sans-serif;
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 6.2rem;
  color: #d9a85d;
  margin-bottom: 3rem;
}

.location__description {
  font-family: "Gilroy", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
  color: #fff;
  margin-bottom: 2rem;
}

.location__right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.location__left {
  width: 100%;
}

.location__fake-img {
  cursor: pointer;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.location__contacts {
  grid-gap: 1rem;
  color: #fff;
}

.location__contacts img {
  width: 28px;
  height: 28px;
  margin: 0 1rem 0 0;
}

.location__contacts a,
.location__contacts p {
  font-size: 1.6rem;
  color: #ffffff;
}

@media (min-width: 960px) {
  .location {
    text-align: left;
  }
  .location__description {
    margin-bottom: 0;
  }
}

.hide {
  display: none;
}

.show {
  display: block;
}

.location-m__row {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 12rem 0;
  text-align: center;
}

.location-m__left {
  max-width: 60%;
}

.location-m__title {
  font-family: "Gilroy", sans-serif;
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 5.2rem;
  color: #d9a85d;
  margin-bottom: 5rem;
}

.location-m__description {
  font-family: "Gilroy", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2rem;
  color: #fff;
  margin-bottom: 1rem;
}

.location-m__list {
  font-family: "Gilroy", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2rem;
  color: #fff;
  margin-left: 1rem;
  text-align: left;
}

.location-m__list .list-item {
  list-style: inside;
}

.location-m__right {
  max-width: 100%;
}

.location-m__fake-img {
  padding: 3rem 0;
  max-width: 100%;
  cursor: pointer;
  width: 70rem;
}

.location-m .location__iframe {
  padding: 3rem 0;
  max-width: 100%;
}

@media (min-width: 960px) {
  .location-m__row {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    text-align: left;
  }
  .location-m__left {
    max-width: 33.33333%;
  }
  .location-m__right {
    max-width: 58.33333333%;
  }
}

.architecture {
  padding: 5rem 0 9rem 0;
}

.architecture__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.architecture__row div:nth-child(4) .item__description {
  max-width: 50%;
}

.architecture__title {
  font-family: "Gilroy", sans-serif;
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 6.2rem;
  color: #d9a85d;
  margin-bottom: 4rem;
}

.architecture__description {
  font-family: "Gilroy", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
  color: #fff;
  max-width: 30%;
}

.architecture__item {
  display: flex;
  align-items: center;
  width: 40rem;
  margin-top: 3rem;
  margin-right: 2rem;
}

.architecture__item .item__description {
  font-family: "Gilroy", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
  color: #fff;
  margin-left: 2rem;
}

.architecture__item img {
  max-width: 80%;
}

.form {
  background: url("../../../assets/images/bg-videoSect.png") center no-repeat;
  background-size: cover;
  padding: 6.8rem 0;
  text-align: center;
}

.form__row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__title {
  font-family: "Gilroy", sans-serif;
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 6.2rem;
  color: #d9a85d;
}

.form__description {
  font-family: "Gilroy", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.4rem;
  color: #fff;
  margin: 3rem 0 5rem 0;
}

.form__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  grid-row-gap: 3rem;
  flex-wrap: wrap;
}

.form__input {
  border: none;
  border-bottom: 0.1 solid rgba(0, 0, 0, 0.2);
  padding: 1.3rem 16rem 1.4rem 2rem;
  font-family: "Gilroy", sans-serif;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.9rem;
  color: #4b4b4b;
  font-size: 1.6rem;
}

.form__btn {
  font-family: "Gilroy", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.9rem;
  color: #fff;
  background: #d9a85d;
  padding: 1.4rem 3.7rem;
  border: 0.1rem solid #d9a85d;
  max-width: 25rem;
}

@media (min-width: 960px) {
  .form {
    text-align: left;
  }
  .form__row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .form__title {
    max-width: 60%;
  }
  .form__description {
    max-width: 30%;
  }
  .form__form {
    display: flex;
    flex-direction: row;
  }
  .form__input {
    margin-right: 4rem;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.footer__logo {
  display: flex;
  justify-content: center;
}

.footer__logo img {
  margin: 4rem 0;
  max-width: 25rem;
}

.footer__nav {
  display: flex;
  justify-content: center;
  margin-bottom: 6.5rem;
}

.footer__nav .nav-list {
  display: flex;
  flex-direction: column;
}

.footer__nav .nav-list .list-item a {
  font-family: "Gilroy", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.9rem;
  color: #fff;
}

.footer__nav .nav-list:last-child {
  margin-right: 0;
}

.footer__about-us {
  width: 36%;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 2rem;
  color: #fff;
}

.footer__bottom img {
  cursor: pointer;
}

.footer__bottom::after {
  content: "";
  position: absolute;
  background: #8C8C8C;
  opacity: 0.2;
  height: 0.14rem;
  width: 100%;
  top: -1rem;
  left: 0;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3350;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
  background-color: rgba(13, 13, 13, 0.4);
}

.modal__dialog {
  max-width: 55rem;
  margin: 14rem auto;
}

.modal__content {
  position: relative;
  width: 100%;
  padding: 6rem 5rem 3.5rem 5rem;
  background-color: #fff;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  max-height: 80vh;
  overflow-y: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal__content a {
  display: flex;
  align-items: center;
  font-family: "Gilroy", sans-serif;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 2rem;
  color: #d9a85d;
}

.modal__content a img {
  margin-right: 1rem;
}

.modal__close {
  position: absolute;
  top: 1.2rem;
  right: 2.2rem;
  font-size: 1.5rem;
  color: #000;
  opacity: 0.5;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

.modal__title {
  font-family: "Gilroy", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 3rem;
  color: #d9a85d;
}

.modal__description {
  font-family: "Gilroy", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2rem;
  color: #4b4b4b;
}

.modal__input {
  margin: 2rem auto 2rem auto;
  height: 5rem;
  border: none;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
  font-size: 1.5rem;
  padding: 0 12rem;
  padding: 0 20rem 0 1rem;
  outline: 0;
  text-align: left;
  color: #000;
}

.modal__btn {
  font-family: "Gilroy", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.9rem;
  color: #fff;
  background: #d9a85d;
  padding: 1.4rem 3.7rem;
  margin: 0.5rem;
  border: #182d42;
  max-width: 25rem;
  margin-bottom: 2.5rem;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.com_premises__title {
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 6.2rem;
  color: #d9a85d;
  margin-bottom: 3rem;
}

.com_premises__description {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
  color: #fff;
  white-space: pre-line;
}

.com_premises h6 {
  font-size: 2.4rem;
  line-height: 2.9rem;
  margin: 3rem 0;
  color: #ffffff;
}

.com_premises__selections {
  display: grid;
  grid-template: 1fr 1fr / 1fr;
  grid-column-gap: 8.4rem;
  grid-row-gap: .5rem;
}

@media only screen and (min-width: 960px) {
  .com_premises__selections {
    grid-template: 1fr / 1fr 1fr;
  }
}

.com_premises__selections__wrapper {
  display: grid;
  grid-template: repeat(4, 1fr)/1fr;
  grid-row-gap: .5rem;
  color: #fff;
}

.com_premises__selections__wrapper li {
  display: grid;
  grid-template: 10.6rem / 17.1rem 1fr 1fr;
  background: rgba(46, 46, 46, 0.67);
  cursor: pointer;
}

.com_premises__selections__wrapper li .images-side {
  position: relative;
  overflow: hidden;
}

.com_premises__selections__wrapper li .images-side img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.com_premises__selections__wrapper li .images-side__drop {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 11;
  display: flex;
  top: 0;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(263.jpg);
  transition: .1s ease-in-out;
  transform: translateY(10.6rem);
}

.com_premises__selections__wrapper li:hover .images-side__drop {
  transform: translateY(0);
}

.com_premises__selections__wrapper li p {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  line-height: 2.1rem;
  color: #ffffff;
}

.com_premises #com_premises__modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.421);
  align-items: center;
  justify-content: center;
  display: none;
  z-index: 12;
  padding: 10rem 5rem;
}

.com_premises #com_premises__modal img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.com_premises #com_premises__modal.open {
  display: flex;
}
/*# sourceMappingURL=index.css.map */