.advantage {
    padding: 7rem 0;
    &__title {
        @include font("Gilroy", 4.4rem, 700, 5.2rem, #D9A85D);
        margin-bottom: 2rem;
    }
    &__row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .item__title {
        @include font("Gilroy", 2rem, 600, 3rem, #fff);
        margin-top: 2rem;
    }
    .item__description {
        @include font("Gilroy", 1.6rem, 500, 2.1rem, #fff);
    }
}

@media (max-width: 600px) {
    .advantage {
        &__item {
            width: 50%;
        }
    }
}
