.apartment-select {
  padding: 10rem 0 !important;
  &__main-title {
    @include font("Futura PT", 6.4rem, 600, 8.2rem, #D9A85D);
  }

  &__subtitles {
    @include font("Futura PT", 2rem, 600, 3.1rem, #fff);
  }

  &__rooms-areas,
  &__rooms-amounts {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    // grid-gap: 1rem;
  }

  &__btn {
    background: rgba(255, 255, 255, 0.1);
    border: .1rem solid #adadad;
    @include font("Futura PT", 1.6rem, 400, 1.9rem, #fff);
    padding: 0;
  }

  &__amount {
    width: 19rem;
    height: 4.8rem;
  }

  &__area {
    width: 12.3rem;
    height: 4.8rem;
  }

  &__active-btn {
    background: #D9A85D;
    border: .1rem solid #D9A85D;
    @include font("Futura PT", 1.6rem, 600, 1.9rem, #fff);
  }

  &__selected-image {
    width: 58%;
    min-height: 47rem;
    object-fit: contain;
  }
}

@media (max-width: 960px) {
  .apartment-select {
    &__dashboard {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
