.build-steps {
  padding: 7rem 0 !important;
  &__steps {
    grid-gap: 6rem;
  }

  &__title {
    text-align: center;
    @include font("Futura PT", 4.4rem, 600, 7.2rem, #d9a85d);
  }

  &__indicator {
    width: 100%;
    display: flex;
    align-items: center;
    grid-column-gap: 2.4rem;

    &__circle {
      width: 2.4rem;
      height: 2.4rem;
      border-radius: 50%;
      background: #959595;

      &.active {
        background: #d9a85d;
      }
    }

    &__border {
      width: calc(100% - 4.8rem);
      border-bottom: .2rem dashed #959595;
    }
  }

  &__desc {
    h3 {
      @include font("Futura PT", 2.4rem, 600, 3rem, #959595);
    }

    p {
      @include font("Futura PT", 1.6rem, 400, 2.6rem, #959595);
    }
  }
}
