.build-steps {
  padding: 7rem 0 !important;
  &__steps {
    justify-content: center;
    grid-gap: 4rem;
  }
  &__title {
    text-align: center;
    @include font("Gilroy", 4.4rem, 700, 7.2rem, #d9a85d);
  }

  &__step{
    width: 30rem;
  }

  &__indicator {
    width: 100%;
    display: flex;
    align-items: center;
    grid-column-gap: 2.4rem;

    &__circle {
      width: 2.4rem;
      height: 2.4rem;
      border-radius: 50%;
      background: #959595;

      &.active {
        background: #d9a85d;
      }
    }

    &__border {
      width: calc(100% - 4.8rem);
      border-bottom: 0.2rem dashed #959595;
      width: 24rem;
    }
  }

  &__desc {
    h3 {
      @include font("Gilroy", 2.4rem, 700, 3rem, #959595);
    }

    p {
      @include font("Gilroy", 1.4rem, 400, 2.3rem, #959595);
    }
  }
}
