.data-slider {
    padding: 10rem 0;
    &__title {
        @include font("Gilroy", 4.4rem, 700, 8rem, #d9a85d);
        margin-bottom: 2rem;
    }
    &__description {
        @include font("Gilroy", 1.4rem, 400, 2rem, #fff);
    }
    ::-webkit-scrollbar {
        width: 3.1rem; /* ширина для вертикального скролла */
        height: 0.4rem; /* высота для горизонтального скролла */
        background-color: #c4c4c4;
        scrollbar-width: 30rem;
    }
    ::-webkit-scrollbar-thumb {
        background-color: #d9a85d;
        border-radius: 9em;
        height: 1rem;
    }
    &__left {
        display: flex;
        justify-content: center;
        div {
            margin-left: 15rem;
        }
    }
    &__text {
        margin-right: 13rem;
    }
    &__right {
        position: relative;
    }
    .arrow {
        position: absolute;
        bottom: 2rem;
        left: 0;
        animation: left 1s infinite;
    }
    &__list {
        position: relative;
        overflow-x: auto;
        width: auto;
        max-height: 64rem;
        white-space: nowrap;
        .list-item {
            display: inline-block;
            margin-right: 2rem;
            &__description {
                @include font("Gilroy", 2rem, 400, 3rem, #fff);
                margin: 2.5rem 0 7rem 0;
            }
        }
    }
    &__item {
        overflow: hidden;
        max-width: 33rem;
        height: 50rem;
        overflow-x: auto;
        background: url("../../../assets/images/data-slider1.png") center no-repeat;
        cursor: pointer;
        p {
            height: 100%;
            white-space: normal;
            opacity: 0;
            transition: 0.4s;
            padding: 1rem;
            @include font("Gilroy", 1.6rem, 400, 2rem, #fff);
            // margin-bottom: 1rem;
        }
    }
    &__item:hover {
        p {
            opacity: 1;
            background-color: rgba(0, 0, 0, 0.5);
        }
    }
    &__list li:nth-child(1) div {
        background: url("../../../assets/images/location-img.png") center no-repeat;
        background-size: cover;
    }
    &__list li:nth-child(2) div {
        background: url("../../../assets/images/data-slider2.png") center no-repeat;
        background-size: cover;
    }
    &__list li:nth-child(3) div {
        background: url("../../../assets/images/data-slider3.png") center no-repeat;
        background-size: cover;
    }
    &__list li:nth-child(5) div {
        background: url("../../../assets/images/data-slider5.png") center no-repeat;
        background-size: cover;
    }
    &__list li:nth-child(6) div {
        background: url("../../../assets/images/data-slider6.png") center no-repeat;
        background-size: cover;
    }
}

@keyframes left {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateX(5rem);
    }
}

@media (max-width: 960px) {
    .data-slider {
        text-align: center;
        &__row {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        &__left {
            div {
                margin-left: 0rem;
            }
        }
        &__description {
            margin: 1rem 0;
        }
        &__text {
            margin-right: 0;
        }
    }
}
