.data {
    &__row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
            margin-bottom: 2rem;
        }
    }
    .right-wrapper {
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__right {
        width: 75%;
        display: flex;
        justify-content: center;
    }
    &__title {
        @include font("Futura PT", 4rem, 600, 6rem, #d9a85d);
    }
    &__items {
        display: flex;
    }
    &__item {
        display: flex;
        flex-direction: column;
        margin-right: 8rem;
        p {
            @include font("Futura PT", 3rem, 600, 4rem, #d9a85d);
        }
        span {
            @include font("Gilroy", 1.4rem, 400, 2rem, #fff);
        }
    }
    &__items li:nth-child(2) {
        position: relative;
    }
    &__items li:nth-child(2)::before {
        content: "";
        position: absolute;
        top: 0;
        right: -4rem;
        height: 6rem;
        width: .1rem;
        background: #182d42;
    }
    &__items li:nth-child(2)::after {
        content: "";
        position: absolute;
        top: 0;
        left: -4rem;
        height: 6rem;
        width: .1rem;
        background: #182d42;
    }
}

@media (min-width: 960px) {
    .data {
        &__row {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            img {
                margin-bottom: 0;
            }
        }
        &__right {
            width: 50%;
        }
    }
}
