.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    &__logo {
        display: flex;
        justify-content: center;
        img {
            margin: 4rem 0;
            max-width: 25rem;
        }
    }
    &__nav {
        display: flex;
        justify-content: center;
        margin-bottom: 6.5rem;
        .nav-list {
            width: 80%;
            display: flex;
            align-items: center;
            justify-content: center;
            .list-item {
                // margin-right: 3rem;
                a {
                    @include font("Gilroy", 1.4rem, 500, 1.9rem, #fff);
                }
            }
        }
        .nav-list:last-child {
            margin-right: 0;
        }
    }
    &__bottom {
        display: flex;
        justify-content: space-between;
        position: relative;
        img {
            cursor: pointer;
        }
        margin-bottom: 2rem;
        color: #fff;
    }
    &__bottom::after {
        content: "";
        position: absolute;
        background: #8C8C8C;
        opacity: 0.2;
        height: 0.14rem;
        width: 83vw;
        top: -1rem;
        left: 0;
    }
}
