.form {
    background: url("../../../assets/images/bg-videoSect.png") center no-repeat;
    background-size: cover;
    padding: 6.8rem 0;
    text-align: center;
    &__row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        @include font("Gilroy", 4.4rem, 700, 6.2rem, #d9a85d);
    }
    &__description {
        @include font("Gilroy", 1.4rem, 500, 2.4rem, #fff);
        margin: 3rem 0 5rem 0;
    }
    &__form {
        width: 100%;
        display: flex;
        flex-direction: column;
        grid-row-gap: 3rem;
        flex-wrap: wrap;
    }
    &__input {
        border: none;
        border-bottom: 0.1 solid rgba(0, 0, 0, 0.2);
        padding: 1.3rem 16rem 1.4rem 2rem;
        @include font("Gilroy", 1.7rem, 500, 1.9rem, #4b4b4b);
        font-size: 1.6rem;
    }
    &__btn {
        @include font("Gilroy", 1.6rem, 600, 1.9rem, #fff);
        background: #d9a85d;
        padding: 1.4rem 3.7rem;
        border: 0.1rem solid #d9a85d;
        max-width: 25rem;
    }
}

@media (min-width: 960px) {
    .form {
        text-align: left;
        &__row {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        &__title {
            max-width: 60%;
        }
        &__description {
            max-width: 30%;
        }
        &__form {
            display: flex;
            flex-direction: row;
        }
        &__input {
            margin-right: 4rem;
        }
    }
}
