.header {
    &__nav {
        height: 7.2rem;
        display: flex;
        justify-content: center;
        align-items: center;

        .nav-list {
            list-style: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 80%;
            height: 100vh;
            background-color: #1E1E1E;
            padding: 4.4rem;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            z-index: 1250;
            transform: translateX(-100%);
            transition: transform 0.5s;

            a {
                @include font("Gilroy", 3rem, 500, 1.9rem, #ffffff);
            }
        }
    }
    &__nav::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.8);
        opacity: 0;
        transform: scale(0);
        transition: opacity 0.5s;
    }
    &__logo {
        margin-right: 1rem;
    }
    .menu-toggle {
        position: fixed;
        color: #D9A85D;
        font-size: 3rem;
        top: 5rem;
        transform: translateY(-50%);
        right: 2.5rem;
        cursor: pointer;
        z-index: 1500;
    }

    .fa-times {
        display: none;
    }

    .open {
        transform: translateX(0);
    }

    .open .fa-times {
        display: block;
    }

    .open .fa-bars {
        display: none;
    }

    .open .nav::before {
        opacity: 0;
        transform: scale(1);
    }

    .fa-times {
        display: none;
    }
    width: 100%;
    z-index: 2;
    &__row {
        display: flex;
        flex-wrap: wrap;
    }
    &__logo {
        width: 14.6rem;
        object-fit: contain;
    }
    &__btn-wrapper {
        display: flex;
        align-items: center;
        button {
            background: rgba(255, 255, 255, 0.1);
            border: 1px solid #FFFFFF;
            color: #fff;
            padding: 1.4rem 3.2rem;
        }
    }
}

@media (min-width: 960px) {
    .header {
        .menu-toggle {
            display: none;
        }
        &__row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        &__nav {
            display: flex;
            align-content: center;
            .nav-list {
                .list-item {
                    cursor: pointer;
                    margin-right: 2.3rem;
                    a {
                        @include font("Gilroy", 1.4rem, 500, 1.9rem, #FFFFFF);
                    }
                }
            }
        }
        .nav-list {
            position: initial;
            width: initial;
            height: initial;
            background-color: transparent;
            padding: 0;
            justify-content: initial;
            flex-direction: row;
            transform: initial;
            transition: initial;
        }
    }
}
