.hero {
    // position: relative;
    z-index: 1;
    &__content {
        padding-top: 13vh;
    }
    &__title {
        max-width: 65%;
        @include font("Gilroy", 7.6rem, 700, 12.3rem, #ffffff);
    }
}

@media (min-width: 768px) {
    .hero {
        &__title {
            max-width: 65%;
            @include font("Gilroy", 4.6rem, 700, 5.3rem, #ffffff);
        }
    }
}

@media (min-width: 960px) {
    .hero {
        &__title {
            max-width: 65%;
            @include font("Gilroy", 6.6rem, 700, 10.3rem, #ffffff);
        }
    }
}
