.history {
    padding: 7rem 0 9rem 0;
    .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
        background-color: #d9a85d;
        width: 100%;
    }
    .swiper-pagination-progressbar {
        width: 100%;
        height: 0.2rem;
        margin-top: 4.5rem;
    }
    .swiper-wrapper {
        margin-top: 2rem;
        display: flex;
        p {
            margin-bottom: 0.5rem;
        }
    }
    .swiper-slide {
        @include font("Gilroy", 1.6rem, 400, 2rem, #fff);
        height: 100%;
    }
    .mySwiper2 {
        .swiper-img {
            height: 37rem;
            img {
                object-fit: cover;
            }
        }
    }
    &__row {
        display: flex;
        justify-content: space-around;
    }
    &__title {
        @include font("Gilroy", 4.4rem, 600, 6rem, #d9a85d);
        margin-bottom: 6rem;
        margin-left: 2rem;
    }
    .right-wrapper {
        h3 {
            margin-top: -2rem;
            margin-bottom: 2rem;
            @include font("Gilroy", 3rem, 600, 4rem, #fff);
        }
    }
    &__right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__btns {
        display: flex;
        div {
            margin-right: 1rem;
        }
    }
}

@media (max-width: 960px) {
    .history {
        text-align: center;
        &__row {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__btns {
            display: flex;
            justify-content: center;
            margin-top: 2rem;
        }
    }
}
