html {
    font-size: 6px;
    @media (min-width: 576) {
        font-size: 8px;
    }
    @media (min-width: 768px) {
        font-size: 10px;
    }
}

body {
    background: #1E1E1E;
}

ul,
p,
h1,
h2,
h3,
h4,
h5,
h6,
body,
div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    scroll-behavior: smooth;
}

li {
    list-style: none;
}
a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
}

button {
    cursor: pointer;
}

input {
    outline: none;
}

.row {
    flex-wrap: wrap;
}
